/** 
 * 时间戳转化为年 月 日 时 分 秒 
 * number: 传入时间戳 
 * format：返回格式，支持自定义，但参数必须与formateArr里保持一致 
 */
function formatDate(number) {
  var date = getDate(number);
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate()
  var hour = date.getHours()
  if (hour < 10) {
    hour = '0' + hour
  }
  var minute = date.getMinutes()
  if (minute < 10) {
    minute = '0' + minute
  }
  var second = date.getSeconds()
  if (second < 10) {
    second = '0' + second
  }
  var time1 = [year, month, day].join('-')
  var timeDate = [year, month, day].join('-') + " " + [hour, minute, second].join(':')
  return [time1,timeDate]
}
//紧急过滤

function level(val){
  switch (val){
    case 0:
     return '一般';
   case 1:
     return "紧急";
  }
}
//身份过滤器
function tagFilter(val){
   switch (val){
     case 1:
      return '原厂';
    case 2:
      return "代理商";
    case 3:
      return "商家";
    case 18:
       return "分销商"
   }
}
//商品状态
function goodsTypeFilter(val){
  switch(val){
    case false :
      return '订货';
    case true :
      return '现货';
  }
}
//价格类型
function priceTypeFilter(val) {
  switch (val) {
    case false:
      return '一口价';
    case true:
      return '起售价';
  }
}
//小数点过滤
function toFixed(s,n){
  return Number(s).toFixed(n)
}
function priveLevel(val,length) {
  var price = val.split("@")
  var length = price.length -1
  price = price[length].split("-")
  price = Number(price[1]).toFixed(length)
  return price
}
function bankType(val) {
  if (val == 'ICBC') {
    return '工商银行'
  }
  if (val == 'ABC') {
    return '农业银行'
  }
  if (val == 'CCB') {
    return '建设银行'
  }
  if (val == 'CMB') {
    return '招商银行'
  }
  if (val == 'COMM') {
    return '交通银行'
  }
  if (val == 'alipay') {
    return '支付宝'
  }
}
function orderStatus(val){
  switch (val) {
    case 0:
      return "未支付";
    case 1:
      return "已完成支付";
    case 2:
      return "取消中";
    case 3:
      return "已取消";
    case 4:
      return "已交货";
    // case 5:
    //   return "已付预付款";
    case 5:
      return "待付尾款";
    case 6:
      return "已发货到质检中心";
    case 7:
      return "已从质检中心发出";
  }
}
function payTay(val){
  switch (val) {
    case 1:
      return "微信支付";
    case 2:
      return "支付宝支付";
    case 3:
      return "对公支付";
    case 4:
      return "白条支付";
  }
}
module.exports = {
  formatDate: formatDate,
  priveLevel: priveLevel,
  bankType: bankType,
  tagFilter: tagFilter,
  goodsTypeFilter: goodsTypeFilter,
  priceTypeFilter: priceTypeFilter,
  toFixed:toFixed,
  orderStatus: orderStatus,
  payTay: payTay,
  level:level
}