/** 
 * 时间戳转化为年 月 日 时 分 秒 
 * number: 传入时间戳 
 * format：返回格式，支持自定义，但参数必须与formateArr里保持一致 
 */
function formatDate(number) {
  var date = getDate(number);
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate()
  var hour = date.getHours()
  if (hour < 10) {
    hour = '0' + hour
  }
  var minute = date.getMinutes()
  if (minute < 10) {
    minute = '0' + minute
  }
  var second = date.getSeconds()
  if (second < 10) {
    second = '0' + second
  }
  var timeDate = [year, month, day].join('-') + " " + [hour, minute, second].join(':')
  return timeDate
}
module.exports = {
  formatDate: formatDate
}